.app {
  text-align: center;
  background-color: #f8ebe6;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 400px;
}

#avatar {
  width: 100%;
  height: 420px;
  overflow: hidden;
  background: rgba(185, 192, 255, 0.28);
}

#avatar > svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
